<%= render 'shared/header' %>
<% if flash[:notice] %>
  <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<main class="flex flex-col items-center justify-center min-h-screen bg-gray-50 text-center px-4">
  <!-- タイトル部分 -->
  <h1 class="text-lg text-gray-500 mt-10">自分好みのサウナを見つける</h1>
  <h2 class="text-4xl font-bold text-black my-4">Mysauna</h2>

  <!-- ボタン部分 -->
  <div class="w-full max-w-md mt-8 space-y-4">
    <a href="/survey" class="block w-full bg-blue-500 text-white text-lg font-medium py-3 rounded hover:bg-blue-600">
      さっそく探す
    </a>
    <a href="<%= new_mysauna_path %>" class="block w-full bg-blue-500 text-white text-lg font-medium py-3 rounded hover:bg-blue-600">
      Mysaunaを登録
    </a>
    <a href="<%= posts_path %>" class="block w-full bg-blue-500 text-white text-lg font-medium py-3 rounded hover:bg-blue-600">  
      みんなのサウナ
    </a>
  </div>
</main>

<%= render 'shared/footer' %>