<%= render 'shared/header' %>

<main class="flex flex-col items-center justify-center min-h-screen bg-gray-50 px-4">
  <h1 class="text-2xl font-bold text-gray-800 mb-4">自分の好みのサウナについて答えてみよう！</h1>

  <%= form_with url: survey_step2_path, method: :get, local: true do %>
    <% @questions_page1.each do |q| %>
      <div class="mb-4">
        <p><%= q[:text] %></p>
        <label>
          <input type="radio" name="answers[<%= q[:id] %>]" value="yes"> はい
        </label>
        <label>
          <input type="radio" name="answers[<%= q[:id] %>]" value="no"> いいえ
        </label>
      </div>
    <% end %>
    <button type="submit">次へ</button>
  <% end %>
</main>

<%= render 'shared/footer' %>